
@model Fact

@{
    ViewData["Title"] = "Home Page";
    //draw index response 
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here is a fun fact about cats: @Model.fact</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>